/** Mobile Version **/
/* Body */

body {
    margin: 0;
    padding: 0;
}

/* Header and Paragraph Fonts */

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #695281;
    margin-bottom: 5%;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    color: #695281;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    text-shadow: 2px 2px 8px grey;
    margin-bottom: 8%;
}

h4 {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: .75rem;
    font-weight: 200;
    margin-left: 15px;
    margin-bottom: 2%;
}

p {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5rem;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 60px;
}

/* Navigation */

nav {
    background: #f6d0c0;
    background: -moz-linear-gradient(left,  #f6d0c0 0%, #d8a7d3 51%, #b8cbe5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #f6d0c0 0%,#d8a7d3 51%,#b8cbe5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #f6d0c0 0%,#d8a7d3 51%,#b8cbe5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d0c0', endColorstr='#b8cbe5',GradientType=1 ); /* IE6-9 */
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 15px;
    margin-top: -3%;
}

nav ul li {
    display: inline;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: white;
    text-shadow: 2px 2px 8px grey;
    padding-left: 7%;
    padding-right: 7%;
}

/* Images */

figure {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#headerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-bottom: -25px;
}

#bouquet {
    background-color: #D8A7D3;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    padding: 8%;
    padding-bottom: 6%;
    margin-bottom: 10%;
}

#arrangement {
    background-color: #B8CBE5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    padding: 8%;
    padding-bottom: 6%;
    margin-bottom: 10%;
}

#specialty {
    background-color: #F6D0C0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    padding: 8%;
    padding-bottom: 3%;
}

#floristimg {
    width: 80%;
    padding: 10px;
    border-style: solid;
    border-color: #F6D0C0;
    border-width: 4px;
}

/* Form */

aside {
    background-color: #695281;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 200;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 2%;
}

label {
    margin-left: 15px;
}

#fname, #lname, #email {
    width: 85%;
    height: 25px;
    margin-left: 5%;
    margin-bottom: 8px;
    margin-top: 3px;
}

#question, #order, #problem {
    margin-left: 5%;
}

#radio label {
    margin-left: 0;
}

#message {
    margin-top: 5%;
    margin-left: 3%;
}

#comments {
    width: 85%;
    height: 75px;
    margin-left: 5%;
    margin-top: 5px;
}

input[type=submit] {
    color: grey;
    width: 80px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-left: 5%;
    margin-bottom: 100px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

/* Footer */

footer {
    padding: 20px;
    margin-top: 6%;
    background: #f6d0c0;
    background: -moz-linear-gradient(left,  #f6d0c0 0%, #d8a7d3 51%, #b8cbe5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #f6d0c0 0%,#d8a7d3 51%,#b8cbe5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #f6d0c0 0%,#d8a7d3 51%,#b8cbe5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d0c0', endColorstr='#b8cbe5',GradientType=1 ); /* IE6-9 */
}

footer p {
    color: white;
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px 8px grey;
}
